<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modoo.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.modoo.entity.TOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="DATE" />
    <result column="clerk" property="clerk" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_time, clerk, total, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.modoo.entity.TOrder" >
    insert into t_order (id, order_time, clerk, 
      total, remark)
    values (#{id,jdbcType=INTEGER}, #{orderTime,jdbcType=DATE}, #{clerk,jdbcType=VARCHAR}, 
      #{total,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.modoo.entity.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="clerk != null" >
        clerk,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=DATE},
      </if>
      <if test="clerk != null" >
        #{clerk,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.modoo.entity.TOrder" >
    update t_order
    <set >
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=DATE},
      </if>
      <if test="clerk != null" >
        clerk = #{clerk,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.modoo.entity.TOrder" >
    update t_order
    set order_time = #{orderTime,jdbcType=DATE},
      clerk = #{clerk,jdbcType=VARCHAR},
      total = #{total,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>